<p class="login-heading"><span class="green-text">Bogo</span><span class="grey-text">fy</span></p>
<div class="signup-container">
	<div class="signup-form">
		<%= form_tag "auth/identity/callback", autocomplete: "off" do %>
		<label>Email</label>
		<%= text_field_tag :auth_key, nil, class: "input-block-level" %><br>
		<label>Password</label>
		<%= password_field_tag :password, nil, class: "input-block-level" %><br>
			

		<!-- Add Remember Me Functionality -->


		<label class="checkbox">
    <input type="checkbox"> Remember me | <%= link_to "Login using Facebook", "/auth/facebook", class: "facebook-link" %>
    </label>
		<br>
		<%= submit_tag "    Login    ", class: "btn btn-custom" %>

		<% end %>
	
	
	</div>
</div>

	<p class="form-links">
		<%= link_to "Home", root_path %> |
		<%= link_to "Privacy Policy", '#' %> |
		<%= link_to "Terms & Conditions", '#' %> |
		<%= link_to "Contact", '#' %> |
		<%= link_to "Sign Up", '#' %>
	</p>
	<p class="form-copyright">Copyright &copy; <%= Time.now.strftime("%Y") %> WebDSquared</p>

