

<p class="login-heading">Sign Up for <span class="green-text">Bogo</span>fy</p>
<div class="signup-container">
	<div class="signup-form">


		

		<%= link_to (image_tag "fb.png", size: "325x68", class: "fb-image"), "/auth/facebook" %>

		<h4 class="or">- OR -</h4>

		<h2 class="free-account">Sign up for a FREE Account</h2>

		<%= form_tag "/auth/identity/register", autocomplete: "off" do %>
				<label>Name</label>
				<%= text_field_tag :name, @identity.try(:name), class: "input-block-level" %><br>
				<label>Email</label>
				<%= text_field_tag :email, @identity.try(:email), class: "input-block-level" %><br>
				<label>Password</label>
				<%=  password_field_tag :password, nil, class: "input-block-level" %><br>
				<label>Confirm Password</label>
				<%= password_field_tag :password_confirmation, nil, class: "input-block-level" %><br>
				<br>
				<%= submit_tag "    Sign Up    ", class: "btn btn-custom btn-large signup-btn" %> 

			<% end %>
	</div>
</div>
